
    <header>
        <div class="encabezado-perfil">

            <h1 class="nombre">Cristian Plaza</h1>
            <img src="../../assets/foto.jpeg" alt="Imagen de perfil" class="foto">
        </div>
    </header>

    <main>
        <section class="caja-informacion">
            <h2>Información Personal</h2>
            <div>
                <p><b>Nombre:</b> Cristian Plaza</p>
                <p><b>Edad:</b> 20</p>
                <p><b>Ubicación:</b> Albacete</p>
                <p><b>Descripción:</b> Soy un estudiante de DAW.</p>
            </div>
        </section>

        <section class="caja-usuario">
            <h2>Estadísticas</h2>
            <div class="contenido-estadisticas">
                <div class="estadistica">Seguidores: 100K</div>
                <div class="estadistica">Seguidos: 433</div>
                <div class="estadistica">Publicaciones: 20</div>
            </div>
        </section>

        <section class="caja-multimedia">
            <h2>Multimedia</h2>
            <div class="contenido-estadisticas">
                <div>
                    <audio controls>
                        <source src="../../assets/audio1.mp3" type="audio/mp3" codecs="mp3">
                        
                    </audio>
                </div>
                <div>
                    <video controls width="500px" height="250px">
                        <source src="../../assets/video1.mp4" type="video/mp4" />
                        
                    </video>

                </div>



                <div>

                    <img src="../../assets/imagen1.png" alt="Imagen1" width="500px" height="250px">

                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="contacto">
            <p>Información de contacto: cristiangmail.com</p>
            <div class="enlaces">
                <a href="https://www.facebook.com/public/Cristian">Facebook</a>
                <a
                    href="https://twitter.com/crpandemonium?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
                <a href="https://www.instagram.com/nodal/">Instagram</a>
            </div>
        </div>
    </footer>
    <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"></a>


